DMPMSDV - copia/DMPMSDV/Connected Services/centraloGer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HolaMundo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HolaMundoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HolaMundoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SincronizarDvTienda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SincronizarDvTiendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SincronizarDvTiendaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportarHallazgos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HallazgosDV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportarHallazgosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportarHallazgosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComunicacionConTienda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComunicacionConTiendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComunicacionConTiendaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestaurarDvTienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NombreDV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestaurarDvTiendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestaurarDvTiendaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitoreoDV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitoreoDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MonitoreoDVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>