OrquestadorCentralWs/OrquestadorCentralWs/Service References/ConexionTiendas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SolReportarHallazgos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolReportarHallazgosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolReportarHallazgosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolMonitoreaDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IpWorkstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolMonitoreaDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolMonitoreaDVResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolReiniciaCfg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolReiniciaCfgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolReiniciaCfgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnyforToWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnyforToWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnyforToWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>