OrquestadorCentralWs/OrquestadorCentralWs/Service References/ConexionTiendas/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConexCentral" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConexCentral_SolReportarHallazgos_InputMessage">
    <wsdl:part name="parameters" element="tns:SolReportarHallazgos" />
  </wsdl:message>
  <wsdl:message name="IConexCentral_SolReportarHallazgos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolReportarHallazgosResponse" />
  </wsdl:message>
  <wsdl:message name="IConexCentral_SolMonitoreaDV_InputMessage">
    <wsdl:part name="parameters" element="tns:SolMonitoreaDV" />
  </wsdl:message>
  <wsdl:message name="IConexCentral_SolMonitoreaDV_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolMonitoreaDVResponse" />
  </wsdl:message>
  <wsdl:message name="IConexCentral_SolReiniciaCfg_InputMessage">
    <wsdl:part name="parameters" element="tns:SolReiniciaCfg" />
  </wsdl:message>
  <wsdl:message name="IConexCentral_SolReiniciaCfg_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolReiniciaCfgResponse" />
  </wsdl:message>
  <wsdl:message name="IConexCentral_AnyforToWork_InputMessage">
    <wsdl:part name="parameters" element="tns:AnyforToWork" />
  </wsdl:message>
  <wsdl:message name="IConexCentral_AnyforToWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnyforToWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IConexCentral_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IConexCentral_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IConexCentral">
    <wsdl:operation name="SolReportarHallazgos">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexCentral/SolReportarHallazgos" message="tns:IConexCentral_SolReportarHallazgos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexCentral/SolReportarHallazgosResponse" message="tns:IConexCentral_SolReportarHallazgos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolMonitoreaDV">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexCentral/SolMonitoreaDV" message="tns:IConexCentral_SolMonitoreaDV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexCentral/SolMonitoreaDVResponse" message="tns:IConexCentral_SolMonitoreaDV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolReiniciaCfg">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexCentral/SolReiniciaCfg" message="tns:IConexCentral_SolReiniciaCfg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexCentral/SolReiniciaCfgResponse" message="tns:IConexCentral_SolReiniciaCfg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnyforToWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexCentral/AnyforToWork" message="tns:IConexCentral_AnyforToWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexCentral/AnyforToWorkResponse" message="tns:IConexCentral_AnyforToWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexCentral/Test" message="tns:IConexCentral_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexCentral/TestResponse" message="tns:IConexCentral_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConexCentral" type="tns:IConexCentral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolReportarHallazgos">
      <soap:operation soapAction="http://tempuri.org/IConexCentral/SolReportarHallazgos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolMonitoreaDV">
      <soap:operation soapAction="http://tempuri.org/IConexCentral/SolMonitoreaDV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolReiniciaCfg">
      <soap:operation soapAction="http://tempuri.org/IConexCentral/SolReiniciaCfg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnyforToWork">
      <soap:operation soapAction="http://tempuri.org/IConexCentral/AnyforToWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IConexCentral/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConexCentral">
    <wsdl:port name="BasicHttpBinding_IConexCentral" binding="tns:BasicHttpBinding_IConexCentral">
      <soap:address location="http://10.51.246.37:10002/OrqTiendaWcf" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>