OrquestadorCentralWs/OrquestadorCentralWs/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfDMPMonitorDV" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfDMPMonitorDV_MonitoreoDVPorSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitoreoDVPorSolicitud" />
  </wsdl:message>
  <wsdl:message name="IWcfDMPMonitorDV_MonitoreoDVPorSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitoreoDVPorSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDMPMonitorDV_RestauracionDV_InputMessage">
    <wsdl:part name="parameters" element="tns:RestauracionDV" />
  </wsdl:message>
  <wsdl:message name="IWcfDMPMonitorDV_RestauracionDV_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestauracionDVResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfDMPMonitorDV">
    <wsdl:operation name="MonitoreoDVPorSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDMPMonitorDV/MonitoreoDVPorSolicitud" message="tns:IWcfDMPMonitorDV_MonitoreoDVPorSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDMPMonitorDV/MonitoreoDVPorSolicitudResponse" message="tns:IWcfDMPMonitorDV_MonitoreoDVPorSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestauracionDV">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDMPMonitorDV/RestauracionDV" message="tns:IWcfDMPMonitorDV_RestauracionDV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDMPMonitorDV/RestauracionDVResponse" message="tns:IWcfDMPMonitorDV_RestauracionDV_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfDMPMonitorDV" type="tns:IWcfDMPMonitorDV">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MonitoreoDVPorSolicitud">
      <soap:operation soapAction="http://tempuri.org/IWcfDMPMonitorDV/MonitoreoDVPorSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestauracionDV">
      <soap:operation soapAction="http://tempuri.org/IWcfDMPMonitorDV/RestauracionDV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfDMPMonitorDV">
    <wsdl:port name="BasicHttpBinding_IWcfDMPMonitorDV" binding="tns:BasicHttpBinding_IWcfDMPMonitorDV">
      <soap:address location="http://10.54.66.107:10004/ServDirVirtual" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>