OrquestadorCentralWs/OrquestadorCentralWs/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MonitoreoDVPorSolicitud">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitoreoDVPorSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MonitoreoDVPorSolicitudResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestauracionDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreDV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestauracionDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestauracionDVResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>